#!/bin/bash

GIT_DIR=/home/{{ ansible_user }}/deployment_listeners/{{ app_name }}_staging
WORK_TREE=/home/{{ ansible_user }}/{{ app_name }}_staging

while read oldrev newrev ref
do
    if [[ $ref =~ .*/master$ ]];
    then
        echo "Master ref received.  Deploying master branch to staging..."
        mkdir -p $WORK_TREE
        git --work-tree=$WORK_TREE --git-dir=$GIT_DIR checkout -f
        mkdir -p $WORK_TREE/shared/pids $WORK_TREE/shared/sockets $WORK_TREE/shared/log

        # start deploy tasks
        # end deploy tasks
        echo "Git hooks staging deploy complete. Godspeed!"
    else
        echo "Ref $ref successfully received.  Doing nothing: only the master branch may be deployed on this server."
    fi
done
